# Ignore everything in this folder
*

# Keep this .gitignore itself
!.gitignore

# Keep CustomPython and all files inside it
!CustomPython/
!CustomPython/**

# Keep DataLogs and all files inside it
!DataLogs/
!DataLogs/**

